Tugas 4 Pengembangan AI Tanpa Kodiing.json
{
  "name": "Tugas 4 Pengembangan AI Tanpa Kodiing",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0cb1aa58-eeb3-407b-85d7-8b7b67df40e9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1AWIORSQfbX2unqOYPiUYI0B0jmEV4tg5",
          "mode": "list",
          "cachedResultName": "5-06_Pembuatan_Agen_AI_RAG_dengan_Dokumen_PDF_dan_Supabase.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1AWIORSQfbX2unqOYPiUYI0B0jmEV4tg5/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "d0135100-42b0-4699-8747-5c0d3d154b96",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OxZMwzWDGuPJvG6M",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "383ee989-6bdf-4c41-8340-063535b972af",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "qme0fI8DOuVfKbYv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        192
      ],
      "id": "983f4999-078f-4400-8182-2b2294ebb159",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "A2k7xC53Rg8AiTAD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        192
      ],
      "id": "722dd1b4-62b1-4a8b-8022-68e204958cbb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -240,
        432
      ],
      "id": "e7f5bcc0-f0f2-4b53-9eee-5168dfd62ea9",
      "name": "When chat message received",
      "webhookId": "47aed903-6d82-476c-a1a2-4433986edeb3"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu asisten yang membantu penulisan ilmiah untuk tugas\nakhir (TA). Gunakan tool Supabase Vector Store untuk\nmemberikan bantuan.\nJika informasi tidak tersedia dalam database yang disediakan,\njangan menjawab dengan mengarang sendiri, tetapi berikan\njawaban “Maaf, saya belum dapat menjawab karena saya\ntemukan dalam informasi yang tersedia.” "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        432
      ],
      "id": "75571b76-9053-4c60-a994-a2ae0a2671b3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        624
      ],
      "id": "78cd16de-21e2-4c09-a63e-35be1daeb163",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "i4Grokcgk7HluosN",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil Tool Supabase Vector Store ini untuk mendapatkan informasi panduan menulis bab 1 tulisan ilmiah.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        608,
        512
      ],
      "id": "a3d40dc3-c6f7-410e-a58f-cfb9be7e5ec3",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "qme0fI8DOuVfKbYv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=test-session-1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        224,
        624
      ],
      "id": "231539a4-35d6-40aa-8eca-7af34b6b83b6",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "rQchzzjNUzu4Khpe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"chatInput\": {{$json[\"body\"][\"message\"] || $json[\"message\"] || \"test\"}},\n  \"sessionId\": \"test-session-1\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        432
      ],
      "id": "900788a4-6d9d-4a8b-92c1-8a2781078e2c",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ae0667ba-5354-4f58-9b4c-290e5aa5d66b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56459fc98fce519c0c2717436eb7e5c02f8c27b6cacf7c4b3834e41335416be7"
  },
  "id": "7qqAVd0GBJ4C8baj",
  "tags": []
}